<footer>
  <div class="footerInfo">

    <div class="topRow">
      <img class="logoImg" src="../../../assets/images/Screenshot_1%201.png" alt="logo">
      <div class="links">
        <a href="#" class="mainLink">About us</a>
        <a href="#" class="mainLink">Our Staff</a>
        <a href="#" class="mainLink">Walk-in Clinic</a>
        <a href="#" class="mainLink">Appointments</a>
      </div>

    </div>

    <div class="bottomRow">

      <div class="socialMedia">
        <a href="#" class="mainLink">Social media</a>
        <div class="buttonsBlock">
          <a href="https://www.linkedin.com/">
            <img src="../../../assets/images/Group%20219.png" alt="button">
          </a>
          <a href="https://www.facebook.com/">
            <img src="../../../assets/images/Group%20216.png" alt="button">
          </a>
          <a href="https://twitter.com/">
            <img src="../../../assets/images/Group%20217.png" alt="button">
          </a>
          <a href="https://www.youtube.com/">
            <img src="../../../assets/images/Group%20218.png" alt="button">
          </a>
        </div>
      </div>

      <div class="linkWrapper">

        <div class="services">
          <a href="#" class="mainLink">Services</a>
          <div class="servicesContainer">
            <div class="firstRow">
              <a href="#">Family Practice</a>
              <a href="#">Optometry</a>
              <a href="#">Dental Clinic</a>
              <a href="#">Dietitian</a>
              <a href="#">Physiotherapy Clinic</a>
            </div>
            <div class="secondRow">
              <a href="#">Audiology/Hearing Aids</a>
              <a href="#">X-ray Ultrasound Lab</a>
              <a href="#">Nuclear Cardiologists</a>
              <a href="#">Pharmacy</a>
            </div>
          </div>
        </div>

        <div class="contactsContainer">
          <a href="#" class="mainLink">Contacts</a>
          <div class="contacts">
            <div>
              <img src="../../../assets/images/Vector.png" alt="button">
              <span>(308) 555-0121</span>
            </div>
            <div>
              <img src="../../../assets/images/Group.png" alt="button">
              <span><a href="mailto:kelly.howard@example.com">kelly.howard@example.com</a></span>
            </div>
            <div>
              <img class="locationSign" src="../../../assets/images/Group%202.png" alt="button">
              <span>6928 Blossom Hill Rd undefined</span><br>
              <span class="address">Surrey, Oregon 20441 United States</span>
            </div>
          </div>

        </div>

        <div class="hoursContainer">
          <a href="#" class="mainLink">Hours</a>
          <div class="hoursBlock">
            <div class="days">
              <p>Mon-Thurs:</p>
              <p>Friday:</p>
              <p>Saturday:</p>
              <p>Sunday:</p>
            </div>
            <div class="hours">
              <p>9AM - 8PM</p>
              <p>9AM - 2PM</p>
              <p>9AM - 3PM</p>
              <p>CLOSED</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="copyrightInfo">
    <p>Copyright © Lockwood.com 2019 | Disclaimer</p>
  </div>
</footer>
