<section class="wrapper">
  <article>
    <h1>Your Friendly Neighborhood Medical Clinic</h1>
    <span>Lockwood Clinic has provided compassionate and comprehensive care to the Ontario community for nearly a century. Founded on the belief that patients should have a convenient and all-inclusive destination for diagnostic testing and related treatment</span>
    <a href="#">Check wait times</a>
  </article>

  <svg class="colorSvg" viewBox="0 0 907 841">
    <path class="colorPath"
          d="M844.556 172.522C696.992 75.3567 176.631 -21.0958 98.7257 150.754C20.8204 322.604 374.832 306.565 329.005 478.416C220.895 883.827 690.571 818.893 864.506 608.34C940.219 516.686 989.541 267.989 844.556 172.522Z"/>
  </svg>

  <svg viewBox="0 0 768 679" class="photoWrap">
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0">
      <path
        d="M554.795 31.0781C392.714 -39.25 35.2339 15.0385 5.35415 143.783C-24.5256 272.528 82.5267 266.634 127.941 426.191C235.061 802.543 743.257 715.042 789.084 445.81C818.948 270.358 714.043 100.177 554.795 31.0781Z"
        fill="#C4C4C4"/>
    </mask>
    <g mask="url(#mask0)">
      <g filter="url(#filter0_d)">
        <rect x="-120" y="-2.8623" fill="url(#pattern0)"/>
        <rect class="mask" x="-120" y="-2.8623"/>
      </g>
    </g>
    <defs>
      <filter id="filter0_d" x="-123.524" y="-2.8623" width="1041.39" height="697.693" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
      </filter>
      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0" transform="translate(-0.000116718) scale(0.000250058 0.000374672)"/>
      </pattern>
      <image id="image0" width="3400" height="2669" xlink:href="../../../assets/images/image%2023.png"/>
    </defs>
  </svg>

  <svg class="colorSvg375" viewBox="0 0 375 357" fill="none">
    <path class="colorPath375"
          d="M326.357 73.2408C263.711 31.9912 42.8023 -8.9558 9.7291 63.9997C-23.3441 136.955 126.945 130.146 107.49 203.102C61.5939 375.211 260.985 347.645 334.826 258.259C366.969 219.349 387.907 113.77 326.357 73.2408Z"/>
  </svg>

</section>
