@import "src/styles.scss";

.wrapper {
  position: absolute;;
  width: 1440px;
  height: 565px;
  bottom: 2875px;
  left: 0;
  display: flex;
  justify-content: center;
}

.imageContainer {
  position: relative;
  margin: 20px 56px 0 0;
  width: 462px;
  height: 484px;
}

article {
  width: 589px;
  height: 565px;
}

h1 {
  @extend .fontHelvBold;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #404247;
  width: 514px;
  margin-bottom: 55px;
}

span {
  @extend .fontHelvRoman;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 150%;
  color: #858A93;
}

.topCorner {
  position: absolute;
  width: 231px;
  height: 187px;
  right: 0;
  top: 0;
  background: #F7F7F7;
  mix-blend-mode: multiply;
  border-radius: 10px;
}

.bottomCorner {
  position: absolute;
  width: 257px;
  height: 208px;
  left: 0;
  bottom: 0;
  background: rgba(96, 139, 178, 0.17);
  mix-blend-mode: multiply;
  border-radius: 10px;
}

img {
  position: relative;
  z-index: 2;
  margin-left: -152px;
}

.cropped {
  position: relative;
  margin: 26px 0 0 24px;
  width: 408px;
  height: 439px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 3;
}

@media only screen and (max-width: 375px) {

  .wrapper {
    width: 375px;
    height: 1393px;
    bottom: 3964px;
    left: 0;
    display: block;
  }

  .imageContainer {
    position: absolute;
    margin: 200px 0 0 18px;
    width: 338px;
    height: 354px;
  }

  article {
    position: absolute;
    top: 0;
    width: 375px;
    height: 1393px;
  }

  h1 {
    font-size: 40px;
    width: 284px;
    margin: 0 0 450px 42px;
    text-align: center;
  }

  span {
    width: 343px;
    margin: 0 0 15px 16px;
  }

  .topCorner {
    width: 168px;
    height: 136px;
  }

  .bottomCorner {
    width: 188px;
    height: 152px;
  }

  img {
    margin-left: -112px;
    width: 476.85px;
    height: 331.31px;
  }

  .cropped {
    margin: 18.28px 21.79px 14.65px 17.81px;
    width: 298.4px;
    height: 321.07px;
    z-index: 3;
  }
}
