<section class="wrapper">

  <div class="imageContainer">
    <div class="topCorner"></div>
    <div class="cropped">
      <img src="../../../assets/images/image%2024.png" alt="three doctors image">
    </div>
    <div class="bottomCorner"></div>
  </div>

  <article>
    <h1> medical clinic downtown Toronto</h1>
    <span>Lockwood Clinic has provided compassionate and comprehensive care to the Ontario community for nearly a century. Founded on the belief that patients should have a convenient and all-inclusive destination for diagnostic testing and related treatment, Lockwood works to provide medical and health care that is as patient friendly as it is extensive.</span>
    <span>Our downtown medical clinic provides a “one-stop” healthcare destination for Toronto area residents of all ages. We provide onsite testing with Nuclear Cardiology and an X-Ray Ultrasound Lab along with a Pharmacy and Physiotherapy Clinic.</span>
    <span> Each department of our clinic is directed by experienced physicians and professionals including onsite pathologists, ultrasound technicians, cardiologists, and family practice physicians. Each member of the Lockwood team has extensive experience in their field and patient care.</span>
    <span>Experience the Lockwood difference with our commitment to healthcare that is focused on total wellness and patient satisfaction</span>
  </article>
</section>
