.backgroundWrapper{
  width: 1440px;
  height: 4847px;

}
.el7{
  position: absolute;
  width: 37px;
  height: 37px;
  left: 38px;
  top: 130px;
  border: 7px solid #8DB8DB;
  box-sizing: border-box;
  border-radius: 50%;
}

.el11{
  position: absolute;
  width: 13px;
  height: 13px;
  left: 13px;
  top: 186px;
  background: rgba(141, 184, 219, 0.71);
  border-radius: 50%;
}

.el13{
  position: absolute;
  width: 4px;
  height: 4px;
  left: 60px;
  top: 218px;
  border-radius: 50%;
  background: rgba(31, 77, 127, 0.3);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.el14{
  border-radius: 50%;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 1286px;
  top: 107px;
  background: #DCF5FB;
}

.el9{
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  left: 1398px;
  top: 190px;
  background: #BCD5E8;
}

.el8{
  border-radius: 50%;
  position: absolute;
  width: 37px;
  height: 37px;
  left: 757px;
  top: 635px;
  border: 7px solid #CAD1DB;
  box-sizing: border-box;
}

.el10{
  border-radius: 50%;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1344px;
  top: 820px;
  background: #008AB6;
}

.el12{
  border-radius: 50%;
  position: absolute;
  width: 223px;
  height: 223px;
  left: -73px;
  top: 668px;
  border: 57px solid #F6F6F6;
  box-sizing: border-box;
}

.el18 {
  border-radius: 50%;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 90px;
  top: 1653px;
  background: #AECDE5;
}

.el15{
  border-radius: 50%;
  position: absolute;
  width: 223px;
  height: 223px;
  left: -55px;
  top: 2165px;
  border: 57px solid rgba(216, 231, 243, 0.31);
  box-sizing: border-box;
}

.el24{
  border-radius: 50%;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 858px;
  top: 2323px;
  background: #AECDE5;
  z-index: 2;
}

.el17{
  border-radius: 50%;
  position: absolute;
  width: 9px;
  height: 9px;
  left: 1386px;
  top: 2199px;
  background: #00AFD7;
}

.el16 {
  border-radius: 50%;
  position: absolute;
  width: 37px;
  height: 37px;
  left: 1345px;
  top: 2100px;
  border: 7px solid #49749D;
  box-sizing: border-box;
}

.el23 {
  border-radius: 50%;
  position: absolute;
  width: 37px;
  height: 37px;
  left: 1264px;
  top: 3148px;
  border: 7px solid #AECDE5;
  box-sizing: border-box;
}

.el22 {
  border-radius: 50%;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 1321px;
  top: 3248px;
  background: #00B0D8;
}

.el20 {
  border-radius: 50%;
  position: absolute;
  width: 37px;
  height: 37px;
  left: 43px;
  top: 3699px;
  border: 7px solid #5A85AD;
  box-sizing: border-box;
}

.el19 {
  border-radius: 50%;
  position: absolute;
  width: 223px;
  height: 223px;
  left: 1126px;
  top: 3619px;
  border: 57px solid #FAFAFA;
  box-sizing: border-box;
}
