<section class="wrapper">
  <section class="infoBlock">
    <article>
      <h1>Walk-In Medical Clinic Downtown, Toronto</h1>
      <span>Lockwood walk-in clinic provides convenient and trusted care when you need it. As a dedicated walk-in clinic, we strive to have the staff and supplies available to handle a wide range of medical concerns. From simple coughs and colds to personal injuries and diagnostic needs, our walk-in clinic is here to provide the best care for our community. </span>
      <span>By maintaining a centralized database of patient information, our entire medical staff can access your files and provide optimal, personalized care based on your chart. This helps to minimize waiting for patients and the potential for inaccurate or incomplete medical history information.</span>
      <span>While Lockwood does accept appointments, referrals are not required for the majority of our services unless you require a specialist. Our walk-in services allow our patients to get care quickly for a variety of illnesses, injuries and preventative treatments including:</span>
    </article>
    <div class="buttonsContainer">
      <div class="firstColumn">
        <a href="#" class="buttonLink selected">
          <div>
            <img src="../../../assets/images/Union1.png" alt="timer">
            <span>24 Hr Holter</span>
            <span>Monitoring</span>
          </div>
        </a>
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/ear.png" alt="timer">
            <span class="marginTop">Audiology Testing</span>
          </div>
        </a>
      </div>
      <div class="secondColumn">
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/hearth.png" alt="timer">
            <span>24 Hr Blood Pressure Monitoring</span>
          </div>
        </a>
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/lungs.png" alt="timer">
            <span class="marginTop">Spirometry Testing</span>
          </div>
        </a>
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/eye.png" alt="timer">
            <span>Optometrist/Eye Exams/Eyewear</span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <svg class="svg1440" viewBox="0 0 859 735">
    <path class="path1440"
          d="M737.5 151.5C608.698 66.6894 154.5 -17.4994 86.5002 132.5C18.5003 282.5 327.5 268.5 287.5 418.5C193.136 772.364 603.094 715.687 754.913 531.905C821 451.905 864.05 234.829 737.5 151.5Z"/>
  </svg>

  <svg class="svg375" viewBox="0 0 375 375">
    <path class="path375"
          d="M331.327 76.8744C265.574 33.5783 33.7053 -9.40011 -1.00867 67.1748C-35.7226 143.75 122.022 136.603 101.602 213.178C53.4292 393.826 262.713 364.892 340.216 271.071C373.954 230.231 395.931 119.414 331.327 76.8744Z"/>
  </svg>
</section>


