<section class="wrapper">
  <section class="infoBlock">
    <article>
      <h1>Walk-In Medical Clinic Downtown, Toronto</h1>
      <span>Lockwood walk-in clinic provides convenient and trusted care when you need it. As a dedicated walk-in clinic, we strive to have the staff and supplies available to handle a wide range of medical concerns. From simple coughs and colds to personal injuries and diagnostic needs, our walk-in clinic is here to provide the best care for our community. </span>
      <span>By maintaining a centralized database of patient information, our entire medical staff can access your files and provide optimal, personalized care based on your chart. This helps to minimize waiting for patients and the potential for inaccurate or incomplete medical history information.</span>
      <span>While Lockwood does accept appointments, referrals are not required for the majority of our services unless you require a specialist. Our walk-in services allow our patients to get care quickly for a variety of illnesses, injuries and preventative treatments including:</span>
    </article>
    <div class="buttonsContainer">
      <div class="firstColumn">
        <a href="#" class="buttonLink selected">
          <div>
            <img src="../../../assets/images/Union1.png" alt="timer">
            <span>24 Hr Holter</span>
            <span>Monitoring</span>
          </div>
        </a>
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/ear.png" alt="timer">
            <span class="marginTop">Audiology Testing</span>
          </div>
        </a>
      </div>
      <div class="secondColumn">
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/hearth.png" alt="timer">
            <span>24 Hr Blood Pressure Monitoring</span>
          </div>
        </a>
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/lungs.png" alt="timer">
            <span class="marginTop">Spirometry Testing</span>
          </div>
        </a>
        <a href="#" class="buttonLink">
          <div>
            <img src="../../../assets/images/eye.png" alt="timer">
            <span>Optometrist/Eye Exams/Eyewear</span>
          </div>
        </a>
      </div>
    </div>
  </section>
  <svg viewBox="0 0 859 735" fill="none">
    <path
      d="M737.5 151.5C608.698 66.6894 154.5 -17.4994 86.5002 132.5C18.5003 282.5 327.5 268.5 287.5 418.5C193.136 772.364 603.094 715.687 754.913 531.905C821 451.905 864.05 234.829 737.5 151.5Z"/>
  </svg>
</section>


