@import "src/styles.scss";

.wrapper{
  width: 1440px;
  height: 532px;
  background: #F5F5F5;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

h1{
  @extend .fontHelvBold;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #404247;
  margin: 81px 0px 30px 0px;
}

article{
  width: 570px;
  margin-left: 185px;
}

article > span{
  @extend .fontHelvRoman;
  font-size: 16px;
  display: inline-block;
  width: 570px;
  margin-bottom: 10px;
  color: #777A81;
}

article div > p{
  @extend .fontHelvBold;
  font-size: 18px;
  line-height: 150%;
  width: 550px;
  color: #606164;
  margin: 0;
}
article > div{
  margin-top: 16px;
}

@media only screen and (max-width: 375px) {

  .wrapper{
    width: 375px;
    height: 964px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  h1{
    font-size: 40px;
    margin-top: -25px;
    margin-bottom: 40px;
  }

  article{
    position: relative;
    z-index: 10;
    width: 342px;
    height: 550px;
    margin-left: 17px;
  }

  article > span{
    width: 342px;
    margin-bottom: 10px;
  }

  article > div{
    margin-top: 30px;
  }

  article div > p{
    @extend .fontHelvBold;
    font-size: 18px;
    line-height: 150%;
    width: 343px;
    color: #606164;

  }
  img{
    margin-top: 26px;
    position: relative;
    width: 506.36px;
    height: 338px;
    right: 113px;
  }
}
