<section class="wrapper">
  <article>
    <h1>Pharmacy</h1>
    <span>Fill your prescriptions at our on-site pharmacy for the fastest and most convenient service. Most prescriptions can be ready in a matter of minutes, making this an ideal solution for picking up medications on the same day as an appointment. </span>
    <span>Our knowledgeable pharmacists can help guide you on precautions for new and existing prescriptions including potential drug interactions. As our pharmacy is connected to our clinic, all of your prescription needs can easily be filled here.</span>
   <div>
     <p>Pick-up from our pharmacy is on the main floor of our facility.</p>
     <p>Free delivery services are available to local residents.</p>
   </div>
  </article>
  <img src="../../../assets/images/image%2030.png" alt="pills">
</section>
