<section class="wrapper">
  <div class="menuContainer">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-practice-tab" data-toggle="pill" href="#v-pills-practice" role="tab"
         aria-controls="v-pills-practice" aria-selected="true">Family Practice</a>

      <a class="nav-link" id="v-pills-optometry-tab" data-toggle="pill" href="#v-pills-optometry" role="tab"
         aria-controls="v-pills-optometry" aria-selected="false">Optometry</a>

      <a class="nav-link" id="v-pills-dental-tab" data-toggle="pill" href="#v-pills-dental" role="tab"
         aria-controls="v-pills-dental" aria-selected="false">Dental Clinic</a>

      <a class="nav-link" id="v-pills-dietitian-tab" data-toggle="pill" href="#v-pills-dietitian" role="tab"
         aria-controls="v-pills-dietitian" aria-selected="false">Dietitian </a>

      <a class="nav-link" id="v-pills-physiotherapy-tab" data-toggle="pill" href="#v-pills-physiotherapy" role="tab"
         aria-controls="v-pills-physiotherapy" aria-selected="false">Physiotherapy </a>

      <a class="nav-link" id="v-pills-audiology-tab" data-toggle="pill" href="#v-pills-audiology" role="tab"
         aria-controls="v-pills-audiology" aria-selected="false">Audiology/Hearing Aids </a>

      <a class="nav-link" id="v-pills-xray-tab" data-toggle="pill" href="#v-pills-xray" role="tab"
         aria-controls="v-pills-xray" aria-selected="false">X-Ray Ultrasound Lab </a>

      <a class="nav-link" id="v-pills-cardiologists-tab" data-toggle="pill" href="#v-pills-cardiologists" role="tab"
         aria-controls="v-pills-cardiologists" aria-selected="false">Nuclear Cardiologists </a>

    </div>


    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-practice" role="tabpanel"
           aria-labelledby="v-pills-practice-tab">
        <article>
          <h1>Family Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lockwood family practice provides comprehensive and compassionate care for your whole family.
            Our medical clinic downtown Toronto includes primary care options that make it easy to get the
            healthcare support you need. From treatment for common illnesses such as strep throat and the
            flu to more advanced concerns, we strive to provide care that you can count on to keep you and
            your loved ones healthy.
          </p>
          <p>At our conveniently located medical clinic downtown, Toronto patients
            are treated by our friendly staff and experienced physicians in our modern facility. Learn more
            about our primary and preventative care options available from our downtown medical clinic.
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-optometry" role="tabpanel" aria-labelledby="v-pills-optometry-tab">
        <article>
          <h1>Optometry Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-dental" role="tabpanel" aria-labelledby="v-pills-dental-tab">
        <article>
          <h1>Dental Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-dietitian" role="tabpanel" aria-labelledby="v-pills-dietitian-tab">
        <article>
          <h1>Dietitian Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-physiotherapy" role="tabpanel" aria-labelledby="v-pills-physiotherapy-tab">
        <article>
          <h1>Physiotherapy Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-audiology" role="tabpanel" aria-labelledby="v-pills-audiology-tab">
        <article>
          <h1>Audiology/Hearing Aids Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-xray" role="tabpanel" aria-labelledby="v-pills-xray-tab">
        <article>
          <h1>X-Ray Ultrasound Lab at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="tab-pane fade" id="v-pills-cardiologists" role="tabpanel" aria-labelledby="v-pills-cardiologists-tab">
        <article>
          <h1>Nuclear Cardiologists Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

    </div>
  </div>


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <article>
          <h1>Family Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lockwood family practice provides comprehensive and compassionate care for your whole family.
            Our medical clinic downtown Toronto includes primary care options that make it easy to get the
            healthcare support you need. From treatment for common illnesses such as strep throat and the
            flu to more advanced concerns, we strive to provide care that you can count on to keep you and
            your loved ones healthy.
          </p>
          <p>At our conveniently located medical clinic downtown, Toronto patients
            are treated by our friendly staff and experienced physicians in our modern facility. Learn more
            about our primary and preventative care options available from our downtown medical clinic.
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="carousel-item">
        <article>
          <h1>Dental Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>

      <div class="carousel-item">
        <article>
          <h1>Dietitian Practice at Lockwood Downtown Medical Clinic</h1>
          <img src="../../../assets/images/Union.png" alt="family">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci animi consectetur cum earum facere nemo nobis quisquam
            tempore tenetur ut?
          </p>
          <a href="#" class="button">Read more</a>
        </article>
      </div>
    </div>


  </div>


</section>
