<section class="wrapper">
  <img src="../../../assets/images/image%2029.png" alt="female doctor">
  <div class="mask"></div>
  <article>
    <h1>learn more about <span>our hours</span> and when an <span>appointment is required</span></h1>
    <p>If have additional questions, our highly trained staff can address them during normal business hours by calling us at</p>
    <div class="phoneBlock">
      <a href="#" class="buttonLink">Read Now</a>
      <img src="../../../assets/images/Vector000.png" alt="">
      <p>(308) 555-0121</p>
    </div>
  </article>
</section>

