
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: RobotoLight;
  src: url("assets/fonts/roboto-light.ttf ");
}

@font-face {
  font-family: HelveticaNeueCyrBold;
  src: url("assets/fonts/helveticaneuecyr-bold.ttf");
}

@font-face {
  font-family: HelveticaNeueCyrThin;
  src: url("assets/fonts/helveticaneuecyr-thin.ttf");
}

@font-face {
  font-family: HelveticaNeueCyrRoman;
  src: url("assets/fonts/helveticaneuecyr-roman.ttf");
}

@font-face {
  font-family: HelveticaNeueCyrBlack;
  src: url("assets/fonts/helveticaneuecyr-black.ttf");
}

@font-face {
  font-family: HelveticaNeueCyrMedium;
  src: url("assets/fonts/helveticaneuecyr-medium1.ttf");
}

.fontHelvMedium{
  font-family: HelveticaNeueCyrMedium, sans-serif;
  font-style: normal;
}

.fontHelvBlack{
  font-family: HelveticaNeueCyrBlack, sans-serif;
  font-style: normal;
}

.fontRobotoLight{
  font-family: RobotoLight, sans-serif;
  font-style: normal;
  }

.fontHelvBold{
  font-family: HelveticaNeueCyrBold, sans-serif;
  font-style: normal;
}

.fontHelvThin{
  font-family: HelveticaNeueCyrThin, sans-serif;
  font-style: normal;
}

.fontHelvRoman{
  font-family: HelveticaNeueCyrRoman, sans-serif;
  font-style: normal;
}
